.header{
    background-image: url("../images/bg-hero-mobile.svg");
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;

    .header-navbar{
        @include container;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .navbar-logo{
            width: 115px;
        }

        .navbar-button{
            background-color: #fff;
            font-family: $primary-font;
            font-size: 11px;
            font-weight: 700;
            color: #000;
            height: 25px;
            width: 100px;
            border-radius: 50px;
            border: 0;
            box-shadow: 1px 1px 6px $grayish-blue;
        }
    }

    .header-content{
        @include container;
        display: flex;
        flex-direction: column;
        align-items: center;

        .header-texts{
            text-align: center;

            .header-title{
                font-weight: 700;
                font-size: 1.5rem
            }

            .header-paragraph{
                margin: 30px 0px;
                font-size: 1.2rem
            }

            .header-button{
                @include button-action;

            }
        }

        .header-image{
            @include container-img;

            .header-img{
                width: 100%;
            }
        }
    }
}