@mixin button-small {
    cursor: pointer;
    font-family: $primary-font;
    font-size: 12px;
    color: $pale-cyan;
    height: 40px;
    width: 230px;
    background-color: $pink;
    border-radius: 50px;
    border: 0;
    box-shadow: 1px 1px 10px lightgray;
    font-weight: 600;

    &:hover{
        color: hsl(193, 100%, 100%);
        background-color: hsl(322, 100%, 76%);
    }
}

@mixin button-big {
    cursor: pointer;
    font-family: $primary-font;
    font-size: 16px;
    color: $pale-cyan;
    height: 50px;
    width: 250px;
    background-color: $pink;
    border-radius: 50px;
    border: 0;
    box-shadow: 1px 1px 10px lightgray;
    font-weight: 600;

    &:hover{
        color: hsl(193, 100%, 100%);
        background-color: hsl(322, 100%, 76%);
    }
}

@mixin container-img{
    max-width: 500px;
}

@mixin contents {
    max-width: 1200px;
    display: flex;
    flex-direction: column-reverse;
    padding: 30px 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px lightgray;
}